<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/TWDB/ressources/styles.css" />
	<title>A propos</title>
</head>

<body>
<div id="wrapper">
	<h1>&Agrave; propos</h1>
	<p>Bienvenue sur TWDB! 
	<br>The World Data Base
	<p>Il s&#146;agit d&#146;une application Web qui permet d&#146;
	interroger et de naviguer dans une base de donn&eacute;es XML native.
	<p> R&eacute;alis&eacute; par:
<ul>
	<li type=square>Bastien AUDA
	<li type=square>Paraita WOHLER
	<li type=square>Mehdi M'RAH
	<li type=square>Bah Abdoulaye BINTA
	<li type=square>Heykel MANNAI
</ul>
<footer>
	<section>TWDB est un projet de M1 IFI sur les technologies xml - 2011</section>
</footer>
</div>
</body>
</html>